/* Habilitar smooth scrolling */
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
}

/* Estilos para el header */
header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 80px 0;
}

/* Navbar */
.navbar {
  background-color: #0056b3 !important;
}

/* Secciones */
h2 {
  color: #0056b3;
}

footer {
  background-color: #0056b3;
  color: white;
}
